<!DOCTYPE html>
<html>
    <head>
        <title>Build-a-Blog</title>
        <style>
            .error{
                color: red;
            }
        </style>
    </head>
<body>
    
    <span>
        <a href='/blog'>View posts</a>
    </span>
    <span>
        <a href='/newpost'>Add new post</a>
    </span>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            <p class="{{category}}">{{message}}</p>
        {% endfor %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>

</html>